.centrar{
    text-align: center;
}

.graficas-pie{
    height: 200px;
}

.graficas{
    height: 250px;
}

.centrar-grafica{
  margin: 0 auto;
}

.center-block {
    justify-content: center;
    align-items: center;
}